/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 60px;
    height: 100vh;
    background-color: #1e1e2f;
    color: white;
    transition: width 0.3s ease;
    overflow: hidden;

}
/* expanded slidebar */
.sidebar .active{
    width: 220px;
}

/* toggle button */
.toggle btn {
    font-size: 24px;
    padding: 15px;
    cursor: pointer;
    text-align: center;

}
 /* nav links (hidden by default) */
    .nav links {
        list-style: none;
        margin-top: 20px;
        opacity: 0;
        visibility: hidden;
        transform: translate(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

/* show nav links only when expanded */
 .sidebar .active .nav-links {
    opacity: 1;
    visibility: visiable;
    transform: translatex(0);
 }

.nav-links li {
    padding: 15px;

}

.nav-links  {
    color: white;
    text-decoration: none;
    display: block;
}

.nav-links a.hover {
    background-color: #34344e;
    border-radius: 4px;

}

/* main content */
.main-content {
    margin-left: 60px;
    padding: 20px;
    transition: nargin-left 0.3s ease;
}

.sidebar .active ~   .main-content {
    margin-left: 220px;
}
